@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.login-box {
    display: flex;
    width: 100%;
}

.login-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}

.login-left .logo {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Adjust this value as needed */
}

.login-left .company-name {
    margin-top: 20px;
    font-size: 18px;
    color: #666;
    text-align: center;
}

.login-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-right h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.login-right h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #007bff;
}

.login-right h2 .material-symbols-outlined {
    margin-right: 10px;
}

.login-right p {
    margin-bottom: 20px;
    color: #666;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="checkbox"] {
    margin-right: 5px;
}

.forgot-password {
    display: block;
    margin-bottom: 15px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-btn,
.create-btn {
    width: 105.8%;
    padding: 10px;
    background-color: #b3ff00;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.create-btn:hover {
    background-color: #99cc00;
}

.login-btn:hover {
    background-color:  #d77117;
}

.login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff7300;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.space1 {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}