<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'ui/css/forgot_password.css' %}">
</head>
<body>
    <div class="forgot-password-container">
        <div class="forgot-password-box">
            <h2>Find your account</h2>
            <p>Please enter your username to search for your account.</p>
            <form action="{% url 'forgot_password' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" id="email-or-phone" name="email_or_phone" placeholder="Email or Contact Number" required>
                </div>
                <div class="form-actions">
                    <a href="{% url 'login' %}" class="cancel-btn">Cancel</a>
                    <button type="submit" class="submit-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>